.post {
  display: grid;
  grid-template-columns: 10% 10% 1fr;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  border: 2px solid #ffffff;
  width: 80%;
  align-self: center;
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px 0 #000000;
  background-color: rgba(0, 0, 0, 0.4);
}
.overlay {
  backdrop-filter: blur(5px);
}

.post h1 {
  font-weight: 600;
  display: flex;
  color: rgb(0, 21, 255);
  justify-items: flex-start;
  align-items: flex-start;
  background-color: rgb(213, 213, 213);
  padding: 10px 40px;
  border-radius: 5px;
  margin: 0;
  font-size: 1.5rem;
  border: 1px solid rgb(0, 0, 0);
}
